{#- type: string; (optional) title: string; #}
{% import "macros/link.html" as _link %}

{%- if nth == 1 %}
<link rel="stylesheet" href="{{ _link::rel_shortcode(dest=get_url(path=`admonition.css`, cachebust=true)) }}" type="text/css">
{%- endif %}

<div
  class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)"
  style="--admonition-bg: var({{ `--admonition-` ~ type | safe }});"
>
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div
      class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert"
      style="--url: url(icons/{{ type | safe }}.svg);"
    >
      {{ type | safe }}
    </div>
    <span><strong>{{ title | default(value=type | title) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
