{% macro rel(dest, cu, base) %}{%
  if cu and dest is starting_with(base) %}{%
    for _ in cu %}{%
      if not loop.last %}{{
        "../" | safe }}{%
      endif %}{%
    endfor %}{{
    dest | trim_start_matches(pat=base) | safe }}{%
  else %}{{
    dest | safe }}{%
  endif %}{%
  if config.extra.ugly_urls and dest is ending_with("/") %}{{
    "index.html" }}{%
  endif %}{%
endmacro rel %}

{% macro rel_shortcode(dest) %}{%
  set base = get_url(path=``, trailing_slash=true) %}{%
  if config.extra.relative_urls and page.permalink %}{%
    set cu = page.permalink | trim_start_matches(pat=base) | split(pat=`/`) %}{%
  else %}{%
    set cu = [] %}{%
  endif %}{{
  self::rel(dest=dest, cu=cu, base=base) }}{%
endmacro rel_shortcode %}

{% macro get(url) %}{%
  if url is starting_with("@") %}{{
    get_url(path=url, trailing_slash=true) }}{%
  elif url is starting_with("$BASE_URL") %}{%
    set base = get_url(path=``, lang=lang, trailing_slash=false) %}{{
    base | safe }}{{
    url | trim_start_matches(pat="$BASE_URL") | safe }}{%
  else %}{{
    url | safe }}{%
  endif %}{%
endmacro get %}

{%- macro social_icon(icon, prl=false) -%}
{%- set icon_path = "icons/" ~ icon ~ ".svg" %}
{%- set meta = get_image_metadata(path=icon_path, allow_missing=true) %}
{%- if meta %}
  {%- if prl %}
    {{- get_url(path=icon_path) }}
  {%- else %}
    {{- icon_path | safe }}
  {%- endif %}
{%- else %}
  {{- "https://cdn.jsdelivr.net/npm/simple-icons/icons/" ~ icon ~ ".svg" | safe }}
{%- endif %}
{%- endmacro social_icon -%}

{%- macro cover_image(path, assets) -%}
{%- for asset in assets %}
  {%- if asset is ending_with(path) %}
    {{- asset | safe }}
    {%- break %}
  {%- endif %}
{%- endfor %}
{%- endmacro cover_image -%}
